<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="VSTSAC" value="https://msmobilecenter.pkgs.visualstudio.com/_packaging/AppCenter/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <VSTSAC>
      <add key="Username" value="mobilecenter" />
      <add key="ClearTextPassword" value="NUGET_PASSWORD" />
    </VSTSAC>
  </packageSourceCredentials>
</configuration>
