<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.microsoft.azure.mobile.xamarin.puppet" android:versionCode="28" android:versionName="0.14.0-SNAPSHOT" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="SXPuppet" android:icon="@drawable/Icon" android:theme="@style/PuppetTheme" />
</manifest>