swagger: '2.0'
info:
  title: Avalanche.Ingestion
  description: Microsoft Avalanche Ingestion REST API.
  version: '1.0.0'
  "x-private": true
host: avalanche.com
schemes:
  - https
paths:
  '/logs':
    post:
      consumes:
        - application/json
      operationId: send
      description: Send logs to the Ingestion service.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - name: App-Secret
          in: header
          description: A unique and secret key used to identify the application.
          required: true
          type: string
          format: uuid
        - name: Install-ID
          in: header
          description: Installation identifier.
          required: true
          type: string
          format: uuid
        - name: parameters
          in: body
          description: Payload.
          required: true
          schema:
            $ref: '#/definitions/LogContainer'
      responses:
        200:
          description: Success.

        default:
          description: >
            * `400`: Invalid JSON body.

            * `403`: Application key is disabled or does not exist.

            * `503`: Too many calls to process right now, retry later.

parameters:
  ApiVersionParameter:
    name: api-version
    in: query
    required: true
    type: string
    description: API Version.

definitions:
  LogContainer:
    properties:
      logs:
        type: array
        description: The list of logs
        minItems: 1
        items:
          $ref: '#/definitions/Log'
    required:
      - logs

  Log:
    type: object
    discriminator: type
    properties:
      type:
        type: string
      timestamp:
        type: string
        format: date-time
        description: >
          Log timestamp, example: '2017-03-13T18:05:42Z'.
      sid:
        type: string
        format: uuid
        description: >
          When tracking an analytics session, logs can be part of the session by specifying this identifier.

          This attribute is optional, a missing value means the session tracking is disabled (like when using only error reporting feature).

          Concrete types like StartSessionLog or PageLog are always part of a session and always include this identifier.
      userId:
        type: string
        description: >
          optional string used for associating logs with users.
      device:
        $ref: '#/definitions/Device'
    required:
      - type
      - device

  LogWithProperties:
    type: object
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      properties:
        type: object
        description: >
          Additional key/value pair parameters.
        additionalProperties:
          type: string

  # Define typed properties for events.
  # Unfortunately incompatible with push custom properties.

  TypedProperty:
    type: object
    discriminator: type
    properties:
      type:
        type: string
      name:
        type: string
        minLength: 1
        maxLength: 125
        description: Property key.
    required:
      - type
      - name

  StringTypedProperty:
    type: object
    description: String property.
    x-ms-discriminator-value: string
    allOf:
      - $ref: '#/definitions/TypedProperty'
    properties:
      value:
        type: string
        maxLength: 125
        description: String property value.
    required:
      - value

  LongTypedProperty:
    type: object
    description: Long property (64 bits signed integer).
    x-ms-discriminator-value: long
    allOf:
      - $ref: '#/definitions/TypedProperty'
    properties:
      value:
        type: integer
        format: int64
        description: Long property value.
    required:
      - value

  DoubleTypedProperty:
    type: object
    description: Double property.
    x-ms-discriminator-value: double
    allOf:
      - $ref: '#/definitions/TypedProperty'
    properties:
      value:
        type: number
        format: double
        description: Double property value.
    required:
      - value

  BooleanTypedProperty:
    type: object
    description: Boolean property.
    x-ms-discriminator-value: boolean
    allOf:
      - $ref: '#/definitions/TypedProperty'
    properties:
      value:
        type: boolean
        description: Boolean property value.
    required:
      - value

  DateTimeTypedProperty:
    type: object
    description: Date and time property.
    x-ms-discriminator-value: dateTime
    allOf:
      - $ref: '#/definitions/TypedProperty'
    properties:
      value:
        type: string
        format: date-time
        description: Date time property value.
    required:
      - value

  # end of event typed properties

  Device:
    type: object
    description: Device characteristics.
    properties:
      sdkName:
        type: string
        description: >
          Name of the SDK. Consists of the name of the SDK and the platform, e.g. "appcenter.ios", "hockeysdk.android".
      sdkVersion:
        type: string
        description: >
          Version of the SDK in semver format, e.g. "1.2.0" or "0.12.3-alpha.1".
      wrapperSdkVersion:
        type: string
        description: >
          Version of the wrapper SDK in semver format. When the SDK is embedding another base SDK (for example Xamarin.Android wraps Android),
          the Xamarin specific version is populated into this field while sdkVersion refers to the original Android SDK.
      wrapperSdkName:
        type: string
        description: >
         Name of the wrapper SDK. Consists of the name of the SDK and the wrapper platform, e.g. "appcenter.xamarin", "hockeysdk.cordova".
      model:
        type: string
        description: >
          Device model (example: iPad2,3).
      oemName:
        type: string
        description: >
          Device manufacturer (example: HTC).
      osName:
        type: string
        description: >
          OS name (example: iOS).
          The following OS names are standardized (non-exclusive): Android, iOS, macOS, tvOS, Windows.
      osVersion:
        type: string
        description: >
          OS version (example: 9.3.0).
      osBuild:
        type: string
        description: >
          OS build code (example: LMY47X).
      osApiLevel:
        type: integer
        description: >
          API level when applicable like in Android (example: 15).
      locale:
        type: string
        description: >
          Language code (example: en-US).
      timeZoneOffset:
        type: integer
        minimum: -840
        maximum: 840
        description: >
          The offset in minutes from UTC for the device time zone, including daylight savings time.
      screenSize:
        type: string
        description: >
          Screen size of the device in pixels (example: 640x480).
      appVersion:
        type: string
        description: >
          Application version name, e.g. 1.1.0
      carrierName:
        type: string
        description: >
          Carrier name (for mobile devices).
      carrierCountry:
        type: string
        description: >
          Carrier country code (for mobile devices).
      appBuild:
        type: string
        description: >
          The app's build number, e.g. 42.
      appNamespace:
        type: string
        description: >
          The bundle identifier, package identifier, or namespace, depending on what the individual plattforms use,  .e.g com.microsoft.example.
      liveUpdateReleaseLabel:
        type: string
        description: >
          Label that is used to identify application code 'version' released via Live Update beacon running on device
      liveUpdateDeploymentKey:
        type: string
        description: >
          Identifier of environment that current application release belongs to, deployment key then maps to environment like Production, Staging.
      liveUpdatePackageHash:
        type: string
        description: >
          Hash of all files (ReactNative or Cordova) deployed to device via LiveUpdate beacon. Helps identify the Release version on device or need to download updates in future.
      wrapperRuntimeVersion:
        type: string
        description: >
          Version of the wrapper technology framework (Xamarin runtime version or ReactNative or Cordova etc...). See wrappersdkname to see if this version refers to Xamarin or ReactNative or other.
      jailbreak:
        type: boolean
        description:
          Flag indicating if the device is jailbroken
    required:
      - sdkName
      - sdkVersion
      - osName
      - osVersion
      - locale
      - timeZoneOffset
      - appVersion
      - appBuild

  StartServiceLog:
    type: object
    description: Describe a AppCenter.Start API call from the SDK.
    x-ms-discriminator-value: startService
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      services:
        type: array
        description: The list of services of the AppCenter Start API call.
        minItems: 1
        items:
          type : string

  # Start defining custom properties for push.
  # Unfortunately not compatible with event typed properties.

  CustomPropertyLog:
    type: object
    description: Set or remove custom properties.
    x-ms-discriminator-value: customProperties
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      properties:
        type: array
        description: Custom property changes.
        minItems: 1
        maxItems: 60
        items:
          $ref: '#/definitions/CustomProperty'

  CustomProperty:
    type: object
    discriminator: type
    properties:
      type:
        type: string
      name:
        type: string
        maxLength: 128
        pattern: '^[a-zA-Z][a-zA-Z0-9\-_]*$'
    required:
      - type
      - name

  StringProperty:
    type: object
    description: String property.
    x-ms-discriminator-value: string
    allOf:
      - $ref: '#/definitions/CustomProperty'
    properties:
      value:
        type: string
        maxLength: 128
        description: String property value.
    required:
      - value

  NumberProperty:
    type: object
    description: Number property.
    x-ms-discriminator-value: number
    allOf:
      - $ref: '#/definitions/CustomProperty'
    properties:
      value:
        type: number
        description: Number property value.
    required:
      - value

  BooleanProperty:
    type: object
    description: Boolean property.
    x-ms-discriminator-value: boolean
    allOf:
      - $ref: '#/definitions/CustomProperty'
    properties:
      value:
        type: boolean
        description: Boolean property value.
    required:
      - value

  DateTimeProperty:
    type: object
    description: Date and time property.
    x-ms-discriminator-value: dateTime
    allOf:
      - $ref: '#/definitions/CustomProperty'
    properties:
      value:
        type: string
        format: date-time
        description: Date time property value.
    required:
      - value

  ClearProperty:
    type: object
    description: Clear an existing property.
    x-ms-discriminator-value: clear
    allOf:
      - $ref: '#/definitions/CustomProperty'

  # End of push custom property definitions.

  StartSessionLog:
    type: object
    description: Required explicit begin session log (a marker event for analytics service).
    x-ms-discriminator-value: startSession
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      distributionGroupId:
        type: string
        format: uuid
        description: Distribution group identifier.

  DistributionStartSessionLog:
    type: object
    description: Log is used to update distribution group identifier for session (a marker event for analytics service).
    x-ms-discriminator-value: distributionStartSession
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      distributionGroupId:
        type: string
        format: uuid
        description: Distribution group identifier.
    required:
      - distributionGroupId

  PageLog:
    type: object
    description: Page view log (as in screens or activities).
    x-ms-discriminator-value: page
    allOf:
      - $ref: '#/definitions/LogWithProperties'
    properties:
      name:
        type: string
        description: >
          Name of the page.
    required:
      - name

  EventLog:
    type: object
    description: Event log.
    x-ms-discriminator-value: event
    allOf:
      - $ref: '#/definitions/LogWithProperties'
    properties:
      id:
        type: string
        format: uuid
        description: >
          Unique identifier for this event.
      name:
        type: string
        maxLength: 256
        description: >
          Name of the event.
      typedProperties:
        type: array
        description: Typed properties, replacing the generic properties if set.
        maxItems: 20
        items:
          $ref: '#/definitions/TypedProperty'          
    required:
      - id
      - name

  PushInstallationLog:
    type: object
    description: Push installation Information.
    x-ms-discriminator-value: pushInstallation
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      pushToken:
        type: string
        description: >
          The PNS handle for this installation.
    required:
        - pushToken

  AbstractErrorLog:
    type: object
    description: Abstract error log.
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      id:
        type: string
        format: uuid
        description: Error identifier.
      processId:
        type: integer
        description: Process identifier.
      processName:
        type: string
        description: Process name.
      parentProcessId:
        type: integer
        description: Parent's process identifier.
      parentProcessName:
        type: string
        description: Parent's process name.
      errorThreadId:
        type: integer
        format: int64
        description: Error thread identifier.
      errorThreadName:
        type: string
        description: Error thread name.
      fatal:
        type: boolean
        description: If true, this error report is an application crash.

          Corresponds to the number of milliseconds elapsed between the time the error occurred and the app was launched.
      appLaunchTimestamp:
        type: string
        format: date-time
        description: >
          Timestamp when the app was launched, example: '2017-03-13T18:05:42Z'.
      architecture:
        type: string
        description: CPU architecture.
    required:
      - id
      - processId
      - processName
      - fatal

  Threads:
    type: array
    description: Thread stack frames associated to the error.
    items:
      $ref: '#/definitions/Thread'

  Binaries:
    type: array
    description: Binaries associated to the error.
    items:
      $ref: '#/definitions/Binary'

  AppleErrorLog:
    type: object
    description: Error log for Apple platforms.
    x-ms-discriminator-value: appleError
    allOf:
      - $ref: '#/definitions/AbstractErrorLog'
    properties:
      primaryArchitectureId:
        type: integer
        format: int64
        description: CPU primary architecture.
      architectureVariantId:
        type: integer
        format: int64
        description: CPU architecture variant.
      applicationPath:
        type: string
        description: Path to the application.
      osExceptionType:
        type: string
        description: OS exception type.
      osExceptionCode:
        type: string
        description: OS exception code.
      osExceptionAddress:
        type: string
        description: OS exception address.
      exceptionType:
        type: string
        description: Exception type.
      exceptionReason:
        type: string
        description: Exception reason.
      selectorRegisterValue:
        type: string
        description: Content of register that might contain last method call.
      threads:
        $ref: '#/definitions/Threads'
      binaries:
        $ref: '#/definitions/Binaries'
      registers:
        type: object
        description: Registers.
        additionalProperties:
          type: string
      exception:
        $ref: '#/definitions/Exception'
    required:
      - primaryArchitectureId
      - applicationPath
      - osExceptionType
      - osExceptionCode
      - osExceptionAddress
      
  Thread:
    description: Thread definition for any platform.
    properties:
      id:
        type: integer
        description: Thread identifier.
      name:
        type: string
        description: Thread name.
      frames:
        type: array
        description: Stack frames.
        items:
          $ref: '#/definitions/StackFrame'
      exception:
        $ref: '#/definitions/Exception'
    required:
      - id
      - frames

  Exception:
    description: Exception definition for any platform.
    properties:
      type:
        type: string
        description: Exception type.
      message:
        type: string
        description: Exception reason.
      stackTrace:
        type: string
        description: Raw stack trace. Sent when the frames property is either missing or unreliable.
      frames:
        type: array
        description: Stack frames. Optional.
        items:
          $ref: '#/definitions/StackFrame'
      innerExceptions:
        type: array
        description: Inner exceptions of this exception.
        items:
          $ref: '#/definitions/Exception'
      wrapperSdkName:
        type: string
        description: >
         Name of the wrapper SDK that emitted this exeption. Consists of the name of the SDK and the wrapper platform, e.g. "appcenter.xamarin", "hockeysdk.cordova".
    required:
      - type

  StackFrame:
    description: Stack frame definition for any platform.
    properties:
      address:
        type: string
        description: Frame address.
      code:
        type: string
        description: Symbolized code line
      className:
        type: string
        description: The fully qualified name of the Class containing the execution point represented by this stack trace element.
      methodName:
        type: string
        description: The name of the method containing the execution point represented by this stack trace element.
      lineNumber:
        type: integer
        description: The line number of the source line containing the execution point represented by this stack trace element.
      fileName:
        type: string
        description: The name of the file containing the execution point represented by this stack trace element.

  Binary:
    description: Binary (library) definition for any platform.
    properties:
      id:
        type: string
      startAddress:
        type: string
      endAddress:
        type: string
      name:
        type: string
      path:
        type: string
      architecture:
        type: string
      primaryArchitectureId:
        type: integer
        format: int64
        description: CPU primary architecture.
      architectureVariantId:
        type: integer
        format: int64
        description: CPU architecture variant.
    required:
      - id
      - startAddress
      - endAddress
      - name
      - path

  ManagedErrorLog:
    type: object
    description: Error log for managed platforms (such as Android Dalvik/ART).
    x-ms-discriminator-value: managedError
    allOf:
      - $ref: '#/definitions/AbstractErrorLog'
    properties:
      binaries:
        $ref: '#/definitions/Binaries'
      buildId:
        type: string
        description: Unique ID for a Xamarin build or another similar technology.
      exception:
        $ref: '#/definitions/Exception'
      threads:
        $ref: '#/definitions/Threads'
    required:
      - exception

  HandledErrorLog:
    type: object
    description: Handled Error log for managed platforms (such as Xamarin, Unity, Android Dalvik/ART)
    x-ms-discriminator-value: handledError
    allOf:
      - $ref: '#/definitions/LogWithProperties'
    properties:
      id:
        type: string
        format: uuid
        description: >
          Unique identifier for this Error.
      binaries:
        $ref: '#/definitions/Binaries'
      exception:
        $ref: '#/definitions/Exception'
    required:
      - exception

  ErrorAttachmentLog:
    type: object
    description: Error attachment log.
    x-ms-discriminator-value: errorAttachment
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      id:
        type: string
        format: uuid
        description: Error attachment identifier.
      errorId:
        type: string
        format: uuid
        description: Error log identifier to attach this log to.
      contentType:
        type: string
        description: Content type (text/plain for text).
      fileName:
        type: string
        description: File name.
      data:
        type: string
        format: byte
        description: Data encoded as base 64.
    required:
      - id
      - errorId
      - contentType
      - data