swagger: '2.0'
info:
  title: Avalanche.Ingestion
  description: Microsoft Avalanche Ingestion REST API.
  version: '1.0.0-preview20160914'
host: avalanche.com
schemes:
  - https
paths:
  '/logs':
    post:
      consumes:
        - application/json
      operationId: send
      description: Send logs to the Ingestion service.
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - name: App-Secret
          in: header
          description: A unique and secret key used to identify the application.
          required: true
          type: string
          format: uuid
        - name: Install-ID
          in: header
          description: Installation identifier.
          required: true
          type: string
          format: uuid
        - name: parameters
          in: body
          description: Payload.
          required: true
          schema:
            $ref: '#/definitions/LogContainer'
      responses:
        200:
          description: Success.

        default:
          description: >
            * `400`: Invalid JSON body.

            * `403`: Application key is disabled or does not exist.

            * `503`: Too many calls to process right now, retry later.

parameters:
  ApiVersionParameter:
    name: api_version
    in: query
    required: true
    type: string
    description: API Version.

definitions:
  LogContainer:
    properties:
      logs:
        type: array
        description: The list of logs
        minItems: 1
        items:
          $ref: '#/definitions/Log'
    required:
      - logs

  Log:
    type: object
    discriminator: type
    properties:
      type:
        type: string
      toffset:
        type: integer
        format: int64
        description: Corresponds to the number of milliseconds elapsed between the time the request is sent and the time the log is emitted.
      sid:
        type: string
        format: uuid
        description: >
          When tracking an analytics session, logs can be part of the session by specifying this identifier.

          This attribute is optional, a missing value means the session tracking is disabled (like when using only error reporting feature).

          Concrete types like StartSessionLog or PageLog are always part of a session and always include this identifier.
      device:
        $ref: '#/definitions/Device'
    required:
      - type
      - toffset
      - device

  LogWithProperties:
    type: object
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      properties:
        type: object
        description: >
          Additional key/value pair parameters.
        additionalProperties:
          type: string

  Device:
    type: object
    description: Device characteristics.
    properties:
      sdk_name:
        type: string
        description: >
          Name of the SDK. Consists of the name of the SDK and the platform, e.g. "mobilecenter.ios", "hockeysdk.android".
      sdk_version:
        type: string
        description: >
          Version of the SDK in semver format, e.g. "1.2.0" or "0.12.3-alpha.1".
      wrapper_sdk_version:
        type: string
        description: >
          Version of the wrapper SDK in semver format. When the SDK is embedding another base SDK (for example Xamarin.Android wraps Android),
          the Xamarin specific version is populated into this field while sdkVersion refers to the original Android SDK.
      wrapper_sdk_name:
        type: string
        description: >
         Name of the wrapper SDK. Consists of the name of the SDK and the wrapper platform, e.g. "mobilecenter.xamarin", "hockeysdk.cordova".
      model:
        type: string
        description: >
          Device model (example: iPad2,3).
      oem_name:
        type: string
        description: >
          Device manufacturer (example: HTC).
      os_name:
        type: string
        description: >
          OS name (example: iOS).
          The following OS names are standardized (non-exclusive): Android, iOS, macOS, tvOS, Windows.
      os_version:
        type: string
        description: >
          OS version (example: 9.3.0).
      os_build:
        type: string
        description: >
          OS build code (example: LMY47X).
      os_api_level:
        type: integer
        description: >
          API level when applicable like in Android (example: 15).
      locale:
        type: string
        description: >
          Language code (example: en_US).
      time_zone_offset:
        type: integer
        description: >
          The offset in minutes from UTC for the device time zone, including daylight savings time.
      screen_size:
        type: string
        description: >
          Screen size of the device in pixels (example: 640x480).
      app_version:
        type: string
        description: >
          Application version name, e.g. 1.1.0
      carrier_name:
        type: string
        description: >
          Carrier name (for mobile devices).
      carrier_country:
        type: string
        description: >
          Carrier country code (for mobile devices).
      app_build:
        type: string
        description: >
          The app's build number, e.g. 42.
      app_namespace:
        type: string
        description: >
          The bundle identifier, package identifier, or namespace, depending on what the individual plattforms use,  .e.g com.microsoft.example.
      live_update_release_label:
        type: string
        description: >
          Label that is used to identify application code 'version' released via Live Update beacon running on device
      live_update_deployment_key:
        type: string
        description: >
          Identifier of environment that current application release belongs to, deployment key then maps to environment like Production, Staging.
      live_update_package_hash:
        type: string
        description: >
          Hash of all files (ReactNative or Cordova) deployed to device via LiveUpdate beacon. Helps identify the Release version on device or need to download updates in future 
    required:
      - sdk_name
      - sdk_version
      - model
      - oem_name
      - os_name
      - os_version
      - locale
      - time_zone_offset
      - screen_size
      - app_version
      - app_build

  StartSessionLog:
    type: object
    description: Required explicit begin session log (a marker event for analytics service).
    x-ms-discriminator-value: start_session
    allOf:
      - $ref: '#/definitions/Log'

  PageLog:
    type: object
    description: Page view log (as in screens or activities).
    x-ms-discriminator-value: page
    allOf:
      - $ref: '#/definitions/LogWithProperties'
    properties:
      name:
        type: string
        description: >
          Name of the page.
    required:
      - name

  EventLog:
    type: object
    description: Event log.
    x-ms-discriminator-value: event
    allOf:
      - $ref: '#/definitions/LogWithProperties'
    properties:
      id:
        type: string
        format: uuid
        description: >
          Unique identifier for this event.
      name:
        type: string
        description: >
          Name of the event.
    required:
      - id
      - name

  PushInstallationLog:
    type: object
    description: Push installation Information.
    x-ms-discriminator-value: push_installation
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      installation_id:
        type: string
        description: >
          Globally unique identifier string.
      push_channel:
        type: string
        description: >
          The PNS handle for this installation.
      platform:
        type: string
        enum: ["apns","gcm"]
        description: >
          Device platform.
      tags:
        type: array
        description: The list of tags.
        minItems: 0
        items:
          type : string
      is_patch:
        type: boolean
        description: >
          If true, tags will be added to existing tags, else all tags will be overwritten.
    required:
        - installation_id
        - push_channel
        - platform

  AbstractErrorLog:
    type: object
    description: Abstract error log.
    allOf:
      - $ref: '#/definitions/Log'
    properties:
      id:
        type: string
        format: uuid
        description: Error identifier.
      process_id:
        type: integer
        description: Process identifier.
      process_name:
        type: string
        description: Process name.
      parent_process_id:
        type: integer
        description: Parent's process identifier.
      parent_process_name:
        type: string
        description: Parent's process name.
      error_thread_id:
        type: integer
        format: int64
        description: Error thread identifier.
      error_thread_name:
        type: string
        description: Error thread name.
      fatal:
        type: boolean
        description: If true, this error report is an application crash.
      app_launch_toffset:
        type: integer
        format: int64
        description: Corresponds to the number of milliseconds elapsed between the time the error occurred and the app was launched.
      error_attachment:
        description: Error attachment.
        $ref: '#/definitions/ErrorAttachment'
      architecture:
        type: string
        description: CPU architecture.
    required:
      - id
      - process_id
      - process_name
      - fatal
      - app_launch_toffset

  Threads:
    type: array
    description: Thread stack frames associated to the error.
    items:
      $ref: '#/definitions/Thread'

  Binaries:
    type: array
    description: Binaries associated to the error.
    items:
      $ref: '#/definitions/Binary'

  ErrorAttachment:
    type: object
    description: Attachment for error log.
    properties:
      text_attachment:
        type: string
        description: Plain text attachment.
      binary_attachment:
        description: Binary attachment.
        $ref: '#/definitions/ErrorBinaryAttachment'

  ErrorBinaryAttachment:
    type: object
    description: Binary attachment for error log.
    properties:
      content_type:
        type: string
        description: Content type for binary data.
      file_name:
        type: string
        description: File name for binary data.
      data:
        type: string
        description: Binary data.
        format: byte
    required:
      - content_type
      - data

  AppleErrorLog:
    type: object
    description: Error log for Apple platforms.
    x-ms-discriminator-value: apple_error
    allOf:
      - $ref: '#/definitions/AbstractErrorLog'
    properties:
      primary_architecture_id:
        type: integer
        description: CPU primary architecture.
      architecture_variant_id:
        type: integer
        description: CPU architecture variant.
      application_path:
        type: string
        description: Path to the application.
      os_exception_type:
        type: string
        description: OS exception type.
      os_exception_code:
        type: string
        description: OS exception code.
      os_exception_address:
        type: string
        description: OS exception address.
      exception_type:
        type: string
        description: Exception type.
      exception_reason:
        type: string
        description: Exception reason.
      threads:
        description: Thread stack frames associated to the error.
        $ref: '#/definitions/Threads'
      binaries:
        description: Binaries associated to the error.
        $ref: '#/definitions/Binaries'
      registers:
        type: object
        description: Registers.
        additionalProperties:
          type: string
      exception:
        description: >
          Exception associated to the error.

          This is used for example to send a .NET exception from the Xamarin SDK.
        $ref: '#/definitions/Exception'
    required:
      - primary_architecture_id
      - application_path
      - os_exception_type
      - os_exception_code
      - os_exception_address
      
  Thread:
    description: Thread definition for any platform.
    properties:
      id:
        type: integer
        description: Thread identifier.
      name:
        type: string
        description: Thread name.
      frames:
        type: array
        description: Stack frames.
        items:
          $ref: '#/definitions/StackFrame'
      exception:
        $ref: '#/definitions/Exception'
    required:
      - id
      - frames

  Exception:
    description: Exception definition for any platform.
    properties:
      type:
        type: string
        description: Exception type.
      message:
        type: string
        description: Exception reason.
      stack_trace:
        type: string
        description: Raw stack trace. Sent when the frames property is either missing or unreliable.
      frames:
        type: array
        description: Stack frames.
        items:
          $ref: '#/definitions/StackFrame'
      inner_exceptions:
        type: array
        description: Inner exceptions of this exception.
        items:
          $ref: '#/definitions/Exception'
      wrapper_sdk_name:
        type: string
        description: >
         Name of the wrapper SDK that emitted this exeption. Consists of the name of the SDK and the wrapper platform, e.g. "mobilecenter.xamarin", "hockeysdk.cordova".
    required:
      - type
      - frames

  StackFrame:
    description: Stack frame definition for any platform.
    properties:
      address:
        type: string
        description: Frame address.
      code:
        type: string
        description: Symbolized code line
      class_name:
        type: string
        description: The fully qualified name of the Class containing the execution point represented by this stack trace element.
      method_name:
        type: string
        description: The name of the method containing the execution point represented by this stack trace element.
      line_number:
        type: integer
        description: The line number of the source line containing the execution point represented by this stack trace element.
      file_name:
        type: string
        description: The name of the file containing the execution point represented by this stack trace element.

  Binary:
    description: Binary (library) definition for any platform.
    properties:
      id:
        type: string
        format: uuid
      start_address:
        type: string
      end_address:
        type: string
      name:
        type: string
      path:
        type: string
      architecture:
        type: string
      primary_architecture_id:
        type: integer
        description: CPU primary architecture.
      architecture_variant_id:
        type: integer
        description: CPU architecture variant.
    required:
      - id
      - start_address
      - end_address
      - name
      - path

  ManagedErrorLog:
    type: object
    description: Error log for managed platforms (such as Android Dalvik/ART).
    x-ms-discriminator-value: managed_error
    allOf:
      - $ref: '#/definitions/AbstractErrorLog'
    properties:
      build_id:
        type: string
        description: Unique ID for a Xamarin build or another similar technology.
      exception:
        description: Exception associated to the error.
        $ref: '#/definitions/Exception'
      threads:
        description: Thread stack frames associated to the error.
        $ref: '#/definitions/Threads'
    required:
      - exception
