<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.0.0-r0003-6ce5d1f" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.0.0-r0003-6ce5d1f" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.0.0-r0003-6ce5d1f" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.38779" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.21.2" targetFramework="xamarinios10" />
</packages>