<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile" version="0.5.0-r0005-646d713" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.5.0-r0005-646d713" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.5.0-r0005-646d713" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.20.3" targetFramework="xamarinios10" />
</packages>