<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="13" android:versionName="0.9.0-SNAPSHOT" package="com.microsoft.azure.mobile.xamarin.forms.puppet">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="MCFPuppet"></application>
</manifest>