<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.0.2-r0008-54cd33d" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.0.2-r0008-54cd33d" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.0.2-r0008-54cd33d" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.91635" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>