<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.0.0-r0001-eda95fe" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.0.0-r0001-eda95fe" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.0.0-r0001-eda95fe" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.4.0.38779" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>